# project/.htaccess
# redirige tout les appels au dossier public/
# chaque dossier devrait avoir son fichier .htaccess
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]
 </IfModule>
 
 # si on ne peut pas reécrire alors le site ne fonctionnera pas correctement,
# pour portéger l'intégrité des données et maintenir un accès restreint il
# est préférable que le site ne fonctionne pas.
<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>