/* 
   Nom : others.css
   Créé par Léa
   Contient du css créé par nous-même
*/

.login_field {
	float: right;
	margin: 0.5em 1.2em 0.5em 0.5em;
}

.developers {
	margin: auto;
	text-align: center;
}

.field {
	width: 12em;
}

#tab_recherche {
 	table-layout: fixed;
 	width:100%;
}

.combo_box_disabled {
	background-color: #DBDBDB;
}