/* 
   Nom : others.css
   Créé par Léa
   Contient du css créé par nous-même
*/

.login_field {
	float: right;
	margin: 0.5em 1.2em 0.5em 0.5em;
}

.developers {
	margin: auto;
	text-align: center;
}

.field {
	width: 12em;
}

$(document).ready(function(){
    $("button").click(function(){
        $("p").toggle(1000);
    });
});